body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}
/* Headings */

.big-heading {
  font-family: Montserrat-Black;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

.section-heading {
  font-family: Montserrat-Black;
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.white-section {
  background-color: #fff;
}

.colored-section {
  background-color: #ff4c6b;
  color: #fff;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

.dwn-btn {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.title-image-container {
  position: relative;
}

.img-d {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

/* Features */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.ftr {
  padding: 4.5%;
}

.ftr h3 {
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
}

.ftr p {
  color: #8f8f8f;
}

.ftr i {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #ef8172;
}

.ftr i:hover {
  color: #ff4c68;
}

/* Testimonials */

#testimonials {
  background: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 8%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */
#press {
  background: #ef8172;
  padding-bottom: 3%;
}
.press-logo {
  width: 12%;
  padding: 25px;
}

/* Pricing Section */

.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
}

.card {
  height: 100%;
}

/* Footer */

#footer i {
  margin: 3%;
}

/* Responsivenes */

@media (max-width: 1028px) {
  #title {
  }
  .img-d {
    position: static;
    transform: rotate(0deg);
  }
}
