body {
  font-family: "Montserrat";
}

#title {
  background: #ff4c6b;
  color: #fff;
}
.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  margin: auto;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Download Buttons */

.dwn-btn {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.img-d {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

.title-image-container {
  position: relative;
}

/* Features */

#features {
  padding: 7% 15%;
  position: relative;
  background: #fff;
}

.ftr {
  text-align: center;
  padding: 0 5%;
}
.ftr h3 {
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
}
.ftr p {
  color: #8f8f8f;
}

.ftr i {
  font-size: 2.5rem;
  padding-bottom: 5%;
  color: #ef8172;
}
.ftr i:hover {
  color: #ff4c68;
}

/* Testimonials */

#testimonials {
  background: #ef8172;
  text-align: center;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo {
  width: 12%;
  margin: 20px;
}

/* Pricing Section */
#pricing {
  padding: 7% 10%;
}

.card {
  text-align: center;
  height: 100%;
}
#pricing {
  text-align: center;
}

.row {
  margin-top: 4%;
}
